<div class="modal" id="calculate">
	<div class="modal__wrap modal__calculate">
		<div class="modal__calculate__tabs">
			<div class="modal__calculate__tab active">
				VIN OR STOCK
			</div>
			<div class="modal__calculate__tab">
				YEAR/MAKE/MODEL
			</div>
			<div class="modal__calculate__tab">
				INTERNATIONAL
			</div>
			<div class="modal__calculate__tab">
				CUSTOM QUOTE
			</div>
		</div>
		<form action="" class="modal__form__list modal__form__list_calculate">
			<div class="modal__form__tab active">
				<div class="modal__form__box modal__form__box_calculate">
					<div class="modal__form__input-box modal__form__input-box_hundred">
						<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="Enter VIV code ">
					</div>
				</div>
				<div class="modal__form__box modal__form__box_calculate">
					<div class="modal__form__input-box modal__form__input-box_hundred">
						<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="From address or ZIP code">
					</div>
				</div>
				<div class="modal__form__box modal__form__box_calculate">
					<div class="modal__form__input-box modal__form__input-box_hundred">
						<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="To address or ZIP code">
					</div>
				</div>
			</div>
			<div class="modal__form__tab">
				<div class="modal__form__box modal__form__box_calculate">
					<div class="modal__form__input-box modal__form__input-box_between modal__form__input-box_hundred">
						<select name="" id="" class="modal__form__select modal__form__select_three">
							<option value="" disabled selected>Year</option>
							<option value="">Russian Federation</option>
							<option value="">United States of America</option>
						</select>
						<select name="" id="" class="modal__form__select modal__form__select_three">
							<option value="" disabled selected>Makes</option>
							<option value="">Russian Federation</option>
							<option value="">United States of America</option>
						</select>
						<select name="" id="" class="modal__form__select modal__form__select_three">
							<option value="" disabled selected>Models</option>
							<option value="">Russian Federation</option>
							<option value="">United States of America</option>
						</select>
					</div>
				</div>
				<div class="modal__form__box modal__form__box_calculate">
					<div class="modal__form__input-box modal__form__input-box_hundred">
						<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="From address or ZIP code">
					</div>
				</div>
				<div class="modal__form__box modal__form__box_calculate">
					<div class="modal__form__input-box modal__form__input-box_hundred">
						<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="To address or ZIP code">
					</div>
				</div>
			</div>
			<div class="modal__form__tab">
				<div class="modal__form__box modal__form__box_calculate">
					<div class="modal__form__input-box modal__form__input-box_hundred">
						<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="Enter VIN or Stock">
					</div>
				</div>
				<div class="modal__form__box modal__form__box_calculate">
					<div class="modal__form__input-box modal__form__input-box_hundred">
						<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="From address or ZIP code">
					</div>
				</div>
				<div class="modal__form__box modal__form__box_calculate">
					<div class="modal__form__input-box modal__form__input-box_hundred">
						<select name="" id="" class="modal__form__select">
							<option value="" disabled selected>To country</option>
							<option value="">Russian Federation</option>
							<option value="">United States of America</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal__form__tab">
				<div class="modal__form__box modal__form__box_calculate">
					<div class="modal__form__input-box modal__form__input-box_between modal__form__input-box_hundred">
						<select name="" id="" class="modal__form__select modal__form__select_three">
							<option value="" disabled selected>Year</option>
							<option value="">Russian Federation</option>
							<option value="">United States of America</option>
						</select>
						<select name="" id="" class="modal__form__select modal__form__select_three">
							<option value="" disabled selected>Makes</option>
							<option value="">Russian Federation</option>
							<option value="">United States of America</option>
						</select>
						<select name="" id="" class="modal__form__select modal__form__select_three">
							<option value="" disabled selected>Models</option>
							<option value="">Russian Federation</option>
							<option value="">United States of America</option>
						</select>
					</div>
				</div>
				<div class="modal__form__box modal__form__box_calculate">
					<div class="modal__form__input-box modal__form__input-box_hundred">
						<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="From address or ZIP code">
					</div>
				</div>
				<div class="modal__form__box modal__form__box_calculate">
					<div class="modal__form__input-box modal__form__input-box_hundred">
						<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="To Address or ZIP code">
					</div>
				</div>
				<div class="modal__form__box modal__form__box_calculate">
					<div class="modal__form__input-box modal__form__input-box_hundred">
						<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="Email Adress">
					</div>
				</div>
				<div class="modal__form__box modal__form__box_calculate">
					<div class="modal__form__input-box modal__form__input-box_hundred">
						<select name="" id="" class="modal__form__select">
							<option value="" disabled selected>To country</option>
							<option value="">Russian Federation</option>
							<option value="">United States of America</option>
						</select>
					</div>
				</div>
				<div class="modal__form__box modal__form__box_calculate">
					<div class="modal__form__input-box modal__form__input-box_hundred">
						<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="Additoinal information">
					</div>
				</div>
			</div>
			<div class="modal__calculate__info">
				<div class="modal__calculate__row">
					<span class="modal__calculate__text">Vehicle</span>
					<span class="modal__calculate__text">2011 Bmw X5 Xdrive3</span>
				</div>
				<div class="modal__calculate__row">
					<span class="modal__calculate__text">Transit Time</span>
					<span class="modal__calculate__text">3 day</span>
				</div>
				<div class="modal__calculate__row">
					<span class="modal__calculate__text">Guaranteed Quote (USD)</span>
					<span class="modal__calculate__text">1 333</span>
				</div>
			</div>
			<button class="modal__calculate__button">Place order</button>
		</form>
	</div>
	</div>