<!-- footer starts -->

<footer class="footer">
	<div class="footer__top">
		<div class="footer__top__wrap">
			<ul class="footer__nav">
				<li class="footer__nav__elem">
					<a href="#" class="footer__nav__link">Home</a>
				</li>
				<li class="footer__nav__elem">
					<a href="#" class="footer__nav__link">About us</a>
				</li>
				<li class="footer__nav__elem">
					<a href="#" class="footer__nav__link">Registration</a>
				</li>
				<li class="footer__nav__elem">
					<a href="#" class="footer__nav__link">Payment</a>
				</li>
				<li class="footer__nav__elem">
					<a href="#" class="footer__nav__link">Transportation</a>
				</li>
				<li class="footer__nav__elem">
					<a href="#" class="footer__nav__link">Online auctions</a>
				</li>
				<li class="footer__nav__elem">
					<a href="#" class="footer__nav__link">Contact</a>
				</li>
				<li class="footer__nav__elem">
					<a href="#" class="footer__nav__link">Terms and Conditions</a>
				</li>
				<li class="footer__nav__elem">
					<a href="#" class="footer__nav__link">Cars</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer__wrap">
		<div class="footer__info">
			<img src="img/footer-logo.svg">
			<div class="footer__content">
				<span class="footer__text">Copyright © 2010-2020 AUTO SALES INC. All Rights Reserved.</span> 
				<span class="footer__text">Registered Broker is not owned by or affiliated with Copart, Inc, or its subsidiaries.</span> 
				<span class="footer__text">Auto Sales Inc. is not owned by or affiliated with Copart, Inc., or its subsidiaries. All vehicles are purchased from Auto Sales Inc. not Copart.</span>
			</div>
		</div>
		<ul class="footer__social">
			<li class="footer__social__icon">
				<a href="#" class="footer__social__link">
					<img src="img/icons/social/vk.svg" alt="">
				</a>
			</li>
			<li class="footer__social__icon">
				<a href="#" class="footer__social__link">
					<img src="img/icons/social/facebook.svg" alt="">
				</a>
			</li>
			<li class="footer__social__icon">
				<a href="#" class="footer__social__link">
					<img src="img/icons/social/ok.svg" alt="">
				</a>
			</li>
			<li class="footer__social__icon">
				<a href="#" class="footer__social__link">
					<img src="img/icons/social/twitter.svg" alt="">
				</a>
			</li>
			<li class="footer__social__icon">
				<a href="#" class="footer__social__link">
					<img src="img/icons/social/instagram.svg" alt="">
				</a>
			</li>
		</ul>
	</div>
</footer>

<!-- footer end -->