<!-- header starts -->
<header class="header fixed">
	<div class="header__top">
		<div class="header__top__wrap">
			<a href="#" class="header__top__link">How to Buy</a>
			<a href="#" class="header__top__link">How it Works</a>
			<a href="#" class="header__top__link">Auction Fees</a>
			<a href="#" class="header__top__link">Increase Limits</a>
			<a href="#" class="header__top__link">Increase Time</a>
			<a href="#" class="header__top__link">Cancel Account</a>
		</div>
		<div class="header__top__buttons">
			<button class="header__top__button">Личный кабинет</button>
			<button class="header__top__register">Register</button>
		</div>
		<div class="header__close">
			<img src="img/icons/close.svg" alt="">
		</div>
	</div>
	<div class="header__middle">
		<div class="header__middle__wrap">
			<div class="header__burger">
				<img src="img/icons/burger.svg" alt="">
			</div>
			<p class="header__middle__text">100% Online Auto Auctions. Thousands of Vehicles for Sale Every Day.</p>
			<div class="header__middle__logo">
				<img src="img/logo.svg" alt="">
				<img src="img/banner-logo.svg" alt="">
				<div class="header__middle__desc">
					<p class="header__middle__desc__text">AAA Auto Sales INC is a dealer authorized to buy vehicles at auctions in the USA. We can help you find and buy any new or used vehicle, boat, motorcycle, quad or other machines. At present, our company is proud to be one of the brokers of Copart Auto Auction. We offer our customers simple and convenient way to meet all your needs in the purchase, transportation and shipment of their vehicles. Whatever your needs are, we will try to do my best to help</p>
				</div>
			</div>
			<div class="header__middle__contact">
				<a href="mailto:info@maslovgroup.ru" class="header__middle__group">
					<img class="header__icon" src="img/icons/envelope.svg">
					<span class="header__middle__link header__middle__link_mail">info@maslovgroup.ru</a>
				</span>
				<a href="tel:+19088138318" class="header__middle__group">
					<img class="header__icon" src="img/icons/phone.svg">
					<span class="header__middle__link header__middle__link_phone">+1 (908) 813-8318</a>
				</span>
				<button class="header__middle__button">Личный кабинет</button>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="header__bottom__wrap">
			<ul class="header__nav">
				<li class="header__nav__elem">
					<a href="index.html" class="header__nav__link">Home</a>
				</li>
				<li class="header__nav__elem">
					<a href="payments.html" class="header__nav__link">Payment us</a>
				</li>
				<li class="header__nav__elem">
					<a href="#" class="header__nav__link">Payment</a>
				</li>
				<li class="header__nav__elem">
					<a href="transportation.html" class="header__nav__link">Transportation</a>
				</li>
				<li class="header__nav__elem">
					<a href="contact.html" class="header__nav__link">Contact</a>
				</li>
			</ul>
			<button class="header__bottom__button">Registration</button>
		</div>
	</div>
</header>
	
<!-- header end -->