<!-- header starts -->

<header class="header">
	<div class="header__top">
		<div class="header__top__wrap">
			<a href="#" class="header__top__link">How to Buy</a>
			<a href="#" class="header__top__link">How it Works</a>
			<a href="#" class="header__top__link">Auction Fees</a>
			<a href="#" class="header__top__link">Increase Limits</a>
			<a href="#" class="header__top__link">Increase Time</a>
			<a href="#" class="header__top__link">Cancel Account</a>
		</div>
	</div>
	<div class="header__middle">
		<div class="header__middle__wrap">
			<p class="header__middle__text">100% Online Auto Auctions. Thousands of Vehicles for Sale Every Day.</p>
			<div class="header__middle__logo">
				<img src="img/logo.svg" alt="">
			</div>
			<div class="header__middle__contact">
				<span class="header__middle__group">
					<img class="header__icon" src="img/icons/envelope.svg">
					<a href="mailto:info@maslovgroup.ru" class="header__middle__link header__middle__link_mail">info@maslovgroup.ru</a>
				</span>
				<span class="header__middle__group">
					<img class="header__icon" src="img/icons/phone.svg">
					<a href="tel:+19088138318" class="header__middle__link header__middle__link_phone">+1 (908) 813-8318</a>
				</span>
				<button class="header__middle__button">Личный кабинет</button>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="header__bottom__wrap">
			<ul class="header__nav">
				<li class="header__nav__elem">
					<a href="index.html" class="header__nav__link">Home</a>
				</li>
				<li class="header__nav__elem">
					<a href="#" class="header__nav__link">About us</a>
				</li>
				<li class="header__nav__elem">
					<a href="#" class="header__nav__link">Payment</a>
				</li>
				<li class="header__nav__elem">
					<a href="#" class="header__nav__link">Transportation</a>
				</li>
				<li class="header__nav__elem">
					<a href="#" class="header__nav__link">Contact</a>
				</li>
			</ul>
			<button class="header__bottom__button">Registration</button>
		</div>
	</div>
</header>

<!-- header end -->