<!-- helping starts -->

<div class="helping">
	<div class="inventory">
		<div class="inventory__wrap">
			<h2 class="inventory__title">View Full Auto Auction Inventory</h2>
			<div class="inventory__tabulation">
				<span class="inventory__tab">Makes</span>
				<span class="inventory__tab active">Body styles</span>
				<span class="inventory__tab">Featured items</span>
				<span class="inventory__tab">Damage types</span>
			</div>
		</div>
	</div>
	<div class="models helping__models">
		<div class="models__wrap">
			<div class="models__list models__list_four">
				<a href="" class="models__option">
					<span class="models__car">Acura</span>
					<span class="models__year">2020</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Audi</span>
					<span class="models__year">1800</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">BMW</span>
					<span class="models__year">3855</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Buick</span>
					<span class="models__year">2786</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Cadillac</span>
					<span class="models__year">1979</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Chevrolet</span>
					<span class="models__year">22158</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Chrysler</span>
					<span class="models__year">3974</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Dodge</span>
					<span class="models__year">8303</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Freightliner</span>
					<span class="models__year">23082</span>
				</a>
			</div>
			<div class="models__list models__list_four">
				<a href="" class="models__option">
					<span class="models__car">Acura</span>
					<span class="models__year">2020</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Audi</span>
					<span class="models__year">1800</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">BMW</span>
					<span class="models__year">3855</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Buick</span>
					<span class="models__year">2786</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Cadillac</span>
					<span class="models__year">1979</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Chevrolet</span>
					<span class="models__year">22158</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Chrysler</span>
					<span class="models__year">3974</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Dodge</span>
					<span class="models__year">8303</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Freightliner</span>
					<span class="models__year">23082</span>
				</a>
			</div>
			<div class="models__list models__list_four">
				<a href="" class="models__option">
					<span class="models__car">Acura</span>
					<span class="models__year">2020</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Audi</span>
					<span class="models__year">1800</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">BMW</span>
					<span class="models__year">3855</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Buick</span>
					<span class="models__year">2786</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Cadillac</span>
					<span class="models__year">1979</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Chevrolet</span>
					<span class="models__year">22158</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Chrysler</span>
					<span class="models__year">3974</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Dodge</span>
					<span class="models__year">8303</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Freightliner</span>
					<span class="models__year">23082</span>
				</a>
			</div>
			<div class="models__list models__list_four">
				<a href="" class="models__option">
					<span class="models__car">Acura</span>
					<span class="models__year">2020</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Audi</span>
					<span class="models__year">1800</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">BMW</span>
					<span class="models__year">3855</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Buick</span>
					<span class="models__year">2786</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Cadillac</span>
					<span class="models__year">1979</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Chevrolet</span>
					<span class="models__year">22158</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Chrysler</span>
					<span class="models__year">3974</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Dodge</span>
					<span class="models__year">8303</span>
				</a>
				<a href="" class="models__option">
					<span class="models__car">Freightliner</span>
					<span class="models__year">23082</span>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- helping end -->