<div class="modal" id="register">
	<div class="modal__wrap modal__form">
		<h5 class="modal__form__title">Contact information</h5>
		<form action="" class="modal__form__list">
			<div class="modal__form__box">
				<label for="" class="modal__form__label">First Name</label>
				<div class="modal__form__input-box">
					<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="First name">
				</div>
			</div>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">Last name *</label>
				<div class="modal__form__input-box">
					<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="Last name *">
				</div>
			</div>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">Company *</label>
				<div class="modal__form__input-box">
					<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="Company">
				</div>
			</div>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">Physical Address 1 *</label>
				<div class="modal__form__input-box">
					<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="Physical Address 1">
				</div>
			</div>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">Physical Address 2 *</label>
				<div class="modal__form__input-box">
					<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="Physical Address 1">
				</div>
			</div>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">Country *</label>
				<div class="modal__form__input-box">
					<select name="" id="" class="modal__form__select">
						<option value="">Russian Federation</option>
						<option value="">United States of America</option>
					</select>
				</div>
			</div>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">City *</label>
				<div class="modal__form__input-box">
					<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="City">
				</div>
			</div>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">State / Province *</label>
				<div class="modal__form__input-box">
					<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="State / Province">
				</div>
			</div>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">Zip / Postal Code *</label>
				<div class="modal__form__input-box">
					<input type="text" class="modal__form__input modal__form__input_half" placeholder="">
					<input type="text" class="modal__form__input modal__form__input_half" placeholder="">
				</div>
			</div>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">Primary telephone number *</label>
				<div class="modal__form__input-box">
					<input type="text" class="modal__form__input modal__form__input_four" placeholder="">
					<input type="text" class="modal__form__input modal__form__input_four" placeholder="">
					<input type="text" class="modal__form__input modal__form__input_four" placeholder="">
					<input type="text" class="modal__form__input modal__form__input_four" placeholder="">
				</div>
			</div>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">Alternate telephone number *</label>
				<div class="modal__form__input-box">
					<input type="text" class="modal__form__input modal__form__input_four" placeholder="">
					<input type="text" class="modal__form__input modal__form__input_four" placeholder="">
					<input type="text" class="modal__form__input modal__form__input_four" placeholder="">
					<input type="text" class="modal__form__input modal__form__input_four" placeholder="">
				</div>
			</div>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">E-mail address *</label>
				<div class="modal__form__input-box">
					<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="E-mail address">
				</div>
			</div>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">Confirm e-mail address *</label>
				<div class="modal__form__input-box">
					<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="Confirm e-mail address">
				</div>
			</div>
			<h5 class="modal__form__title modal__form__title_secondary">Driver's License (Required for United States and Canadian residents.)</h5>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">Driver's License *</label>
				<div class="modal__form__input-box">
					<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="Driver's License">
				</div>
			</div>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">Country</label>
				<div class="modal__form__input-box">
					<select name="" id="" class="modal__form__select">
						<option value="">Russian Federation</option>
						<option value="">United States of America</option>
					</select>
				</div>
			</div>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">State / Province</label>
				<div class="modal__form__input-box">
					<select name="" id="" class="modal__form__select">
						<option value="">New York</option>
						<option value="">Florida</option>
					</select>
				</div>
			</div>
			<h5 class="modal__form__title modal__form__title_secondary">Passport (Required for a Non-United States and Non-Canadian residents.)</h5>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">Passport *</label>
				<div class="modal__form__input-box">
					<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="Passport">
				</div>
			</div>
			<div class="modal__form__box">
				<label for="" class="modal__form__label">Country *</label>
				<div class="modal__form__input-box">
					<input type="text" class="modal__form__input modal__form__input_hundred" placeholder="Country">
				</div>
			</div>
			<div class="modal__form__box">
				<span for="" class="modal__form__label">Terms and Conditions</span>
			</div>
			<div class="modal__form__bottom">
				<label class="modal__form__checkbox">
					<input type="checkbox" class="modal__form__checkbox__input">
					<span class="modal__form__checkbox__custom"></span>
					<span class="modal__form__checkbox__text">I have read and agreed to be bound by the <a href="">Terms and Conditions.</a></span>
				</label>
				<label class="modal__form__checkbox">
					<input type="checkbox" class="modal__form__checkbox__input">
					<span class="modal__form__checkbox__custom"></span>
					<span class="modal__form__checkbox__text">I have read and agreed <a href="">to the Disclosures</a></span>
				</label>
				<button class="modal__form__button">Next</button>
			</div>
		</form>
	</div>
</div>