.about {
	padding: 40px 0;
	box-sizing: border-box;
	&__wrap {
		max-width: 1190px;
		width: 100%;
		margin: 0 auto;
		padding: 0 20px;
		box-sizing: border-box;
	}
	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 140.62%;
		margin-bottom: 30px;
		@media screen and (max-width: 950px) {
			text-align: center;	
		}
	}
	&__text {
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 140.62%;
		margin-bottom: 30px;
		@media screen and (max-width: 1380px) {
			font-size: 16px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}