.banner {
	width: 100%;
	background-image: url('../img/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 25px 0 21px;
	box-sizing: border-box; 
	&__wrap {
		max-width: 815px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__title {
		color: #fff;
		font-style: normal;
		font-weight: bold;
		font-size: 60px;
		line-height: 175.78%;
		text-align: center;
	}
	&__text {
		color: #fff;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		line-height: 35px;
		text-align: center;
	}
}
