.breadcrumbs {
	&__link {
		font-size: 14px;
		line-height: 175.78%;
		text-decoration: none;
		font-style: normal;
		font-weight: normal;
		color: #020101;
	}
	&__separator {
		font-size: 14px;
		line-height: 175.78%;
		font-style: normal;
		font-weight: normal;
		color: #020101;
	}
}
