.models {
	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		line-height: 175.78%;
		color: #020101;
		margin-bottom: 8px;
	}
	&__wrap {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&__list {
		width: 20%;
		padding: 0 20px;
		box-sizing: border-box;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	&__option {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		background: #F5F5F5;
		padding: 0 5px;
		box-sizing: border-box;
		margin-bottom: 12px;
		text-decoration: none;
		transition: .2s;
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			background: #434343;
			.models__car, .models__year {
				color: #fff;
			}
		}
	}
	&__car {
		display: block;
		line-height: 23px;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		text-decoration-line: underline;
		color: #444444;
		transition: .2s;
	}
	&__year {
		display: block;
		line-height: 23px;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: #444444;
		text-decoration: none;
		transition: .2s;
	}
}
