.reviews {
	padding: 31px 0 15px;
	box-sizing: border-box;
	&__wrap {
		max-width: 1150px;
		width: 100%;
		margin: 0 auto;
	}
	&__slider-wrap {
		width: 100%;
		position: relative;
		margin-top: 23px;
	}
	&__title {
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		line-height: 175.78%;
		text-align: center;
	}
	&__slider {
	}
	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__avatar {
		position: relative;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		overflow: hidden;
		border: 1px solid #EDEDED;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__text {
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		color: #333;
		margin: 8px 0 15px;
	}
	&__date {
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 12px;
		color: #D6D6D7;
		align-self: flex-end;
		margin-right: 20px;
	}
	&__next, &__prev {
		position: absolute;
		top: 35%;
		transform: translateY(-50%);
		cursor: pointer;
		outline: none;
	}
	&__next {
		right: - 50px;
	}
	&__prev {
		left: -50px;
	}
}