.search-block {
	position: relative;
	background: linear-gradient(180deg, #49555F 0%, #7D868D 100%);
	padding: 13px 0;
	box-sizing: border-box;
	&__wrap {
		max-width: 950px;
		width: 100%;
		margin: 0 auto;
		@media screen and (max-width: 990px) {
			padding: 0 20px;
			box-sizing: border-box; 
		}
	}
	&__vin {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		@media screen and (max-width: 990px) {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: -40px;
		}
		@media screen and (max-width: 948px) {
			width: 100%;
			padding: 0 20px;
			box-sizing: border-box;
		}
		&__input {
			width: 100%;
			line-height: 23px;
			font-size: 13px;
			border: 1px solid rgba(0, 0, 0, 0.11);
			padding-left: 13px;
			box-sizing: border-box;
		}
		&__submit {
			text-indent: -99999px;
			border: none;
			width: 15px;
			height: 15px;
			background: transparent url('../img/icons/search.svg') no-repeat;
			background-size: 100%;
			cursor: pointer;
			margin-left: 12px;
			@media screen and (max-width: 948px) {
				filter: invert(1) brightness(0);
			}
		}
	}
	&__options {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 16px;
		@media screen and (max-width: 920px) {
			flex-direction: column;
		}
	}
	&__selectbg {
		position: relative;
		max-width: 196px;
		width: 100%;
		height: 41px;
		border-radius: 3px;
		display: flex;
		flex-direction: row;
		background: #fff;
		@media screen and (max-width: 990px) {
			margin-bottom: 14px;
			margin-right: 10px;
			width: 20%;
		}
		@media screen and (max-width: 920px) {
			max-width: 100%;
			width: 100%;
			margin-right: 0;
		}
	}
	&__name {
		position: absolute;
		top: 0px;
		z-index: 1000;
		font-style: normal;
		font-weight: normal;
		font-size: 8px;
		line-height: 175.78%;
		&_from {
			left: 9px;
		}
		&_to {
			right: 62px;
			@media screen and (max-width: 990px) {
				right: 30%;
			}
			@media screen and (max-width: 920px) {
				right: auto;
				left: 50%;
				transform: translateX(25%);
			}
		}
	}
	&__select {
		border-radius: 3px;
		width: 100%;
		height: 100%;
		line-height: 41px;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		border: none;
		padding-left: 9px;
		-webkit-appearance: none;
	    -moz-appearance: none;
	    background: url('../img/icons/arrow.svg') no-repeat center right 10px;
		cursor: pointer;
		&_year {
			width: 50%;
		}
	}
	&__submit {
		display: block;
		width: 134px;
		line-height: 41px;
		background: #FDBE2C;
		border-radius: 3px;
		font-size: 12px;
		font-style: normal;
		border: none;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		@media screen and (max-width: 920px) {
			width: 100%;
		}
	}
	&__fast {
		width: 100%;
		display: flex;
		flex-direction: row;
		margin-top: 8px;
		justify-content: flex-end;
		align-items: center;
		@media screen and (max-width: 920px) {
			flex-direction: column-reverse;
			align-items: center;
		}
	}
	&__search {
		width: 134px;
		line-height: 41px;
		background: #C70917;
		border-radius: 3px;
		font-size: 12px;
		font-style: normal;
		border: none;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		@media screen and (max-width: 920px) {
			width: 100%;
		}
	}
	&__vehicles {
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
		color: #fff;
		justify-self: center;
		margin-right: calc(100% / 2 - 134px * 2);
		text-transform: uppercase;
		@media screen and (max-width: 920px) {
			margin-right: 0;
			margin-top: 10px;
		}
		span {
			font-weight: bold;
		}
	}
}
